



html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Cardo', serif;
  background-color: #f7f6f2;
  width: 100%;
  height: 100%;
  color: black;
  overflow: auto;
}

#root {
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
  display: block;
}

.heading-container {
  width: 100%;
  height: 36px;
  position: fixed;
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black;
  background-color: inherit;
  justify-content: space-between;
  z-index: 5;
  overflow: hidden;
}

.heading-container p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.title {
  padding-left: 10%;
}

.curr-time {
  position: absolute;
  right: 0;
}


/* content */
.content-container {
  width: 100%;
  margin: 0;
  padding: 36px 0 0 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* movie titles */
.block-left {
  padding: 10px 10px 20px 30px;
  text-align: right;
  height: inherit;
  border-right: 1px solid black;
  overflow: scroll;
  float: left;
  letter-spacing: 1px;
}

.movie-image {
  max-width: 90%;
  height: auto;
  
  padding-bottom: 10px;
}

.block-middle-right {
  height: inherit;
}

a {
  color: black;
  text-decoration: underline;
  background-color: inherit;
  border: none;
}

a:hover {
  color: #5ab3e6;
  text-decoration: none;
}

.title-link {
  word-wrap: break-word;
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
  background-color: inherit;
  border: none;
}


.title-link:hover {
  color: #5ab3e6;
  text-decoration: none;
}



.title-link:focus {
  outline: none;
}





.info {
  font-size: 20px;
  text-align: inherit;
  display: block;
}

.info-line {
  padding: 5px;
}



/* screen */
.col {
  padding: 0;
}

.block-upper-right {
  height: 100%;
}




.block-middle {
  text-align: left;
  padding: 0;
  border-right: 1px solid black;
  background-color: inherit;
  overflow: hidden;

}


/* parallax effect test */
#scene {
  position: absolute;
  width: 42.5vw;
  height: 23.9vw;
  z-index: -2;
  border: 1px solid black;
  margin: 10% 0 0 10%;
  padding-bottom: 5%;
  padding-right: 5%;
}

.inner-border {
  align-items: center;
  position: absolute;
  width: 42.5vw;
  margin: 5%;
  border: 1px solid black;
  height: 23.9vw;
  padding: 5% 0 0 5%;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
}

.image1 {
  width: 23vmax;
  height: 23vmax;
  margin-left: 10%;
  margin-top: 3%;
  transform: translate(80%, 40%);
  filter: drop-shadow(5px 5px 16px rgba(0, 0, 0, 0.3));
}

.image2 {
  width: 5vmax;
  height: 5vmax;
  margin-left: 20%;
  margin-top: 18%;
  transform: translate(-150%, -50%) rotate(-45deg);
  filter: drop-shadow(2px 2px 16px rgba(0, 0, 0, 0.1));
}

.image3 {
  width: 10vmax;
  height: 10vmax;
  margin-left: 60%;
  margin-top: 2%;
  transform: translate(-150%, -50%) rotate(-45deg);
  filter: drop-shadow(5px 5px 16px rgba(0, 0, 0, 0.3));
}


video {
  position: absolute;
  align-self: center;
  z-index: 2;
  max-height: 100%;
  width: auto;
  filter: saturate(80%);
  filter: contrast(80%);
  display: none;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}

/* footer */
.footer {
  position: absolute;

  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
  background-color: #f7f6f2;
  z-index: 10;
  padding: 10px;
  letter-spacing: 1px;
}

.newsletter {
  padding: 0 10px;
  width: 50%;
}



.contact {
  padding: 0 10px;
}

input {
  background-color: transparent;
  border: none;
  overflow: hidden;
}

.newsletter-signin {
  position: relative;
  border-bottom: 1px solid black;
  margin: 10px 0;
}

.flexbox { display: flex; }
.flexbox .stretch { flex: 1; }
.flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
.flexbox input { width: 100%; }
.flexbox button { white-space: nowrap; }



.button {
  padding: 0;
  color: inherit;
  border: none;
  background-color: inherit;
  float: right;
}
.button:hover {
  color: black;
  text-decoration: none;
}
.button:active {
  border: none;
}


.like-button {
  padding: 5px;
  color: inherit;
  border: none;
  background-color: inherit;
}
.like-button:focus {
  outline: none;
}

/* sign in button */





/* quote */

.block-right {
  float: right;
  overflow: hidden;
  height: inherit;
  width: inherit;
  margin-bottom: auto;
  letter-spacing: 4px;
  z-index: -2;

}

.quote {
  position: relative;
  padding: 10px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 95%;
  float: right;
  overflow: hidden;
  z-index: inherit;
  word-wrap: break-word;
}





/* add new movie page */

.add-movie {
  padding: 20px;
}



@media only screen and (max-width: 992px) {
    .curr-time {
      display: none;
    }
    .title {
      padding: 0;
    }
    .heading-container {
      display: flex;
    }
    .block-right {
      border-right: none;
      border-top: 1px solid black;
      bottom: 0;
    }
    .block-middle {
      position: relative;
      height: 35vw;
    }
    .block-left {
      text-align: center;
    }
    .qoute {
      height: 50%;
    }

}

@media only screen and (max-width: 576px) {

  .block-upper-right {
    display: none;
  }

    .block-left {
      text-align: center;
      padding-bottom: 40%;
      border-right: none;
    }
    .info {
      text-align: center;
    }
    .footer {
      position: fixed;
      left: 0;
      width: 100%;
      margin: 0;
    }
}
